<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="store.technologycenter.android">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".TechCenterApplication"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.TechCenter"
        tools:ignore="AllowBackup">
        <activity
            android:name=".OrderActivity"
            android:parentActivityName=".MainActivity" />

        <!-- <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo_small"
            tools:ignore="AllowBackup" />
        <meta-data
            android:name="io.sentry.dsn"
            android:value="https://30914ab098f54b05878a0771f7a4c36e@o512093.ingest.sentry.io/5867414" /> -->

        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ItemDetailsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FilterActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
    </application>

</manifest>